@include block("code-editor") {

    @include element("title") {
        margin-top: $subtitles-top-offset;
        margin-bottom: 6px;
    }

    @include element("area") {
		width: 100% !important;
        height: 320px !important;
    }

    @include element("error") {
        color: #d50000;
        font-size: 12px;
        line-height: 14px;
        padding-top: 5px;
    }
}