<div class="layout-row flex data-editor">
    <div class="flex data-editor__component">
        {{code-editor title="Code editor" code=model}}
    </div>

    <div class="flex-10 layout-column data-editor__component">
        {{sidebars-separator}}
    </div>

    <div class="flex data-editor__component">
        {{data-view title="Data view" data=model}}
    </div>
</div>